cuda-bindings==13.3.1
cuda-pathfinder==1.6.0
cuda-toolkit==13.0.3.0
DeepMIMOv3==0.2.9
joblib==1.5.3
llvmlite==0.49.0
matplotlib==3.11.1
narwhals==2.24.0
numba==0.67.0
numpy==2.5.2
pandas==3.0.5
pynndescent==0.6.0
scikit-learn==1.9.0
scipy==1.18.0
threadpoolctl==3.6.0
torch==2.13.0
tqdm==4.70.0
umap-learn==0.5.12
